{% extends "layout.html" %}

{% block content %}
<div class="container my-4">
  <h2 class="mb-4">📞 Contact Us</h2>

  <div class="row">
    <div class="col-md-8">
      <h5>📍 Library Address</h5>
      <p>Balaji Library, Naharo ki dhani, Jodhpur, Rajasthan</p>

      <h5 class="mt-3">📞 Contact Numbers</h5>
      <ul>
        <li>+91 9256660902</li>
        <li>+91 8058406676</li>
      </ul>

      <h5 class="mt-3">📧 Email</h5>
      <p><a href="mailto:mukesh.nahar2001@gmail.com">mukesh.nahar2001@gmail.com</a></p>
    </div>
  </div>
</div>
{% endblock %}

